* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    /* padding: 20px; */
    text-align: center;
}


header {
    padding: 20px;
    background-color: tomato;
    background-position: cover;
    font-family: Arial, Helvetica, sans-serif;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-attachment: fixed;
    width: 100%;
    margin: 0;
    


}

header h1 {
    display: inline-block;
    font-size: 48px;
}


button {
    margin-top: 20px;
    line-height: 60px;
    font-weight: bold;
    padding: 0 40px;
    background: salmon;
    border: none;
  }

button:hover {
    background: lightsalmon;
    cursor: pointer;
  }

#option-list {
    list-style: none;
    text-align: center;
    

}

#timer {
    display: flex;
    justify-content: left;
    margin-top: 32px;
    margin-left: 40px;
}

#option-list ul {
    
    list-style: none;
    text-align: center;
    padding: 5px;
    margin-right: 30px;
    width: 150px;
    line-height: 60px;
  }

  #set-timer {
     
      left: 0;
      top: 0;
      position: absolute;
      margin-top: 100px;
  }

  ul li {
      padding: 10px;
      margin: 10px auto;
      border: 2px solid goldenrod;
      width: 150px;
      
  }

  ul li:hover {
      background: cornflowerblue;
      color: darkblue;
      cursor: pointer;
  }

  input {
      padding: 5px;
      margin-top: 25px;
  }